/* Prevents horizontal scrolling */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}


/* Colors */

/* Greens */
.mint { color: palegreen}
.mintBack{ background-color: rgb(202, 255, 202)}
.seafoam { color: rgb(190, 255, 190)}
.springGreen { color: springgreen}
.mediumSea { color: mediumseagreen}
.aquamarine { color: aquamarine}
.forest { color: forestgreen}


/* Blues */
.paleBlue { color: paleturquoise}
.paleBlueBack { background-color: paleturquoise}
.mediumBlue { color: mediumblue}
.mediumBlueBack { background-color: rgb(151, 174, 255)}


/* Purples */
.plum { color: plum}
.lavender { color: lavender}
.lavenderBack { background-color: lavender}
.purple { color: rebeccapurple}


/* Misc. Colors */
.paleYellow { color: papayawhip}
.white { color: white}
.black { color: black}


/* Link Colors */
a.class1:link {
    color: rgb(255, 0, 212);
    background-color: transparent;
    text-decoration: none;
  }
a.class1:visited {
    color: rgb(121, 0, 74);
    background-color: transparent;
    text-decoration: none;
  }
a.class1:hover {
    color: rgb(145, 98, 255);
    background-color: transparent;
    text-decoration: underline;
  }
a.class1:active {
    color: rgb(68, 0, 131);
    background-color: transparent;
    text-decoration: underline;
  }

  
/* Font Sizes */
.titleFont {font-size: 100px}
.headerFont {font-size: 60px}
.headerFont2 {font-size: 40px}
.bodyFont {font-size: 30px}
.bodyFontSmall {font-size: 20px}


/* Margins */
.headerCenter {
    margin-left: 40%;
  }

.headerCenter2 {
    margin-left: 46%;
  }

.bodyCenter {
    margin-left: 46%;
    margin-right: 20%;
  }

.bioCenter {
    margin-left: 20%;
    margin-right: 20%;
  }

.showcaseImage {
    margin-left: 10%;
    /* width: 80%;
    height: 80% */
}
.showcaseVideo {
    margin-left: 10%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Icon sizes and positioning */
.bigIcon {
    width: 20%;
    height: 20%
}

.iconPosition{
    margin-left: -3%;
}

.projectImage {
    width: 30%;
    height: 30%
}

#tcs {
    width: 40%;
    height: 40%;
    margin-left: 5%;
}

#ff {
    width: 30%;
    height: 30%
}

#profilePic {
  width: 20%;
  height: 20%
}


/*  Inline icon bar */
.inline-block {
  display: inline-block;
  margin-left:.4%;
  margin-right:.4%;
}

/* Navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  /* padding: 0; */
  overflow: hidden;
  background-color: rgb(1, 68, 21);

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  z-index: 3;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(0, 131, 63);
}


/* Sticky Scroll bar */
/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}